body {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.counting {
  
  margin-left: 35%;

  margin-right: 35%;
color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
  background-color: #313847;
  border-radius: 25px;
  margin-bottom: 7%;
  margin-top: 7%;
}
